<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A weather app to check current weather conditions and forecasts.">
    <meta name="keywords" content="weather, weather app, forecast, temperature, humidity, wind speed">
    <meta name="author" content="Your Name">
    <meta property="og:title" content="Your Weather App">
    <meta property="og:description" content="Check current weather conditions and forecasts with our weather app.">
    <meta property="og:image" content="https://example.com/your-app-icon.png">
    <meta property="og:url" content="https://example.com">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Your Weather App">
    <meta name="twitter:description" content="Check current weather conditions and forecasts with our weather app.">
    <meta name="twitter:image" content="https://example.com/your-app-icon.png">
    <title>{{ title }} Weather</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" />
</head>
<body>
    <h1>{{ title }} Weather</h1>
    <p>{{ status }} and {{ temp }} &deg;</p>
    <p>Feels like {{ feels_like }} &deg;</p>
    <form action="/weather">
        <input type="text" name="city" id="city" placeholder="Enter a City">
        <button type="submit">Submit</button>
    </form>
</body>
</html>